<header class="header-simple">
  <div class="header-logo">JOSG</div>
  <div class="header-nav">
    <a href="/alumnos" class="card-cabecera">Alumnos</a>
    <a href="/profesores" class="card-cabecera">Docentes</a>
    <a href="/eventos" class="card-cabecera">Eventos</a>
    <a href="/guardias" class="card-cabecera">Guardias</a>
    <a href="/informes" class="card-cabecera">Informes</a>
    <a href="/cuotas" class="card-cabecera">Cuotas</a>
    <a href="/grupos" class="card-cabecera">Grupos</a>
    <a href="/instrumentos" class="card-cabecera">Instrumentos</a>
    <a href="/" class="card-cabecera">Inicio</a>
  </div>
</header>
