<div class="pdf-footer">
  <p>Granada, <%= new Date().getDate() %> de 
    <%= new Date().toLocaleString('es-ES', { month: 'long' }) %> de 
    <%= new Date().getFullYear() %>
  </p>
  <hr />
  <small>
    Asociación Joven Orquesta de Granada<br />
    CIF: G-18651067 · www.josg.org · Tfno: 682445971<br />
    C/ Andrés Segovia 60, 18007 Granada<br />
    Sede de ensayos: Teatro Maestro Francisco Alonso, C/ Ribera del Beiro 34, 18012 Granada
  </small>
</div>
