<% title = 'Inicio - JOSG' %>
<% hero = true %>
<link rel="stylesheet" href="../styles/estilos.css" />

<header class="hero-header">
  <% if (!usuario) { %>
    <div class="container">
    <div class="login-form-overlay">
      <img src="/../imagenes/logoJOSG.png" alt="Logo JOSG" class="logo logo-grande">
      <p>Asociación Joven Orquesta Sinfónica de Granada</p>
      <p>Acceso</p>

      <% if (error) { %>
        <div class="alert-login-error"><%= error %></div>
      <% } %>
      <form method="POST" action="/login">
        <div class="mb-3">
          <label class="form-label fw-bold">Correo electrónico</label>
          <input type="email" name="email" class="form-control" required>
        </div>
        <div class="mb-3">
          <label class="form-label fw-bold">Contraseña</label>
          <input type="password" name="password" class="form-control" required>
        </div>
        <div class="d-grid">
          <button type="submit" class="btn-main-naranja btn">Entrar</button>
        </div>
      </form>
    </div>

  <% } else { %>
    <div class="panel-usuario-overlay">
      <img src="/imagenes/logoJOSG.png" alt="Logo JOSG" class="logo-grande" />
      <p>Bienvenido, <%= usuario.nombre %> (<%= usuario.rol %>)</p>
      <div id="menu-principal" class="dashboard-grid">
        <% if (usuario.rol === 'admin' || usuario.rol === 'docente') { %>
          <a href="/alumnos" class="card-index">Alumnos</a>
          <a href="/profesores" class="card-index">Docentes</a>
          <a href="/eventos" class="card-index">Eventos</a>
          <a href="/guardias" class="card-index">Guardias</a>
          <a href="/informes" class="card-index">Informes</a>
          <a href="/configuracion" class="card-index">Configuración</a>
        <% } %>
  <% } %>
</header>
